.contact-wrapper {
    padding: 20px;
    overflow: hidden;

    .contact {
        position: relative;
        width: 100%;
        gap: 20px;
        padding: 20px 0;

        @include for-mobile-layout {
            flex-direction: column;

            ul {
                align-self: center;
            }
        }

        form {
            width: 100%;
            gap: 10px;
            height: 200px;

            * {
                height: 100%;
                width: 100% !important;
            }
        }

        button,
        input,
        textarea {
            border: none;
            background-color: transparent;
            border-radius: 14px;
            box-shadow: inset 20px 20px 60px #b3c9d9,
                inset -20px -20px 60px #c1ccd55a;
            padding: 5px 10px;
            font-family: Quicksand;
            font-size: 18px;
            font-weight: 700;

            &::placeholder {
                font-size: 16px;
                font-weight: 700;
            }
        }

        input {
            height: 100px;
        }

        .email-msg {
            width: 100%;
            gap: 10px;

            textarea {
                width: 180% !important;
                resize: none;
                padding: 10px;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 20px;
                }
            }

            button {
                text-align: center;
                font-weight: 700;
                box-shadow: none;
                background-color: $black;
                color: $blue;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: $light-black;
                    color: $blue;
                }
            }
        }
    }

    ul {
        gap: 10px;
        transform: translateY(40px);
        align-self: flex-end;
        height: 50%;

        @include for-mobile-layout {
            transform: translateY(40px);
            // height: 100px;
        }

        li {
            background-color: white;

            // min-height: 150px;
            border-radius: 20px 20px 0 0;
            padding-top: 4px;
            transition: 0.2s;

            &:hover {
                background-color: $dark-blue;

                svg {
                    animation: shake 0.5s 1 ease-in-out;
                }
            }
        }

        svg {
            fill: $black;
            height: 40px;
            width: 100%;
            padding: 5px;
            aspect-ratio: 1/1;
        }
    }
}

@keyframes shake {
    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}