.portfolio-wrapper{
    min-height: 300px;
    padding: 20px 0;
    background-color: white;
    // background-image: repeating-linear-gradient(11deg, rgba(222, 115, 115, 0.25), rgba(255, 255, 255, 0.45) 1px, transparent 0px, transparent 4px);
}

