.portfolio-wrapper {
    min-height: 100vh;
    background-color: $black;
    color: $blue;
    font-size: 50px;
    font-family: Couture;

    h2 {
        user-select: none;
    }

    .gallery-wrapper {
        gap: 20px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(20px, 1fr));
        gap: 20px;
        width: 20%;
        word-break: break-all;

        .project {
            overflow: hidden;
            background-color: $light-black;
            padding: 20px;
            border-radius: 14px;

            * {
                pointer-events: none;
            }

            &:hover {
                filter: grayscale(1);
                cursor: pointer;
            }
        }
    }

    .gallery-modal {
        width: 80%;
        background-color: $light-black;
        padding: 20px;
        border-radius: 14px;
        word-break: break-all;

        &.active {
            * {
                animation: appear 0.7s 1 forwards ease-in-out;
            }
        }

        p {
            word-break: break-all;
            font-size: 18px;
        }

    }
}

@keyframes appear {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}