@font-face {
    font-family: Quicksand;
    src: url('../../fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: QuicksandB;
    src: url('../../fonts/Quicksand/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Identity;
    src: url('../../fonts/Identity/IdentifyDemoRegular-0WM3d.otf');
}

@font-face {
    font-family: Couture;
    src: url('../../fonts/Couture/couture-bld.otf');
}

@font-face {
    font-family: MoonDart;
    src: url('../../fonts/MoonDart/MoonDart-0WZLo.ttf');
}

@font-face {
    font-family: MoonDartB;
    src: url('../../fonts/MoonDart/MoonDartBold-WyxO4.ttf');
}

@font-face {
    font-family: Hardigan;
    src: url('../../fonts/Hardigan/Hardigan-Ea9pr.ttf');
}
@font-face {
    font-family: Rubik;
    src: url('../../fonts/Rubik/Rubik-Regular.ttf');
}